*{
    font-size: 1.3em;
}

p{
    background-color: aqua;
    
    border: solid red  2px;
}
/* el padding separa el contenido de la caja */
.p1{
    margin-left: 2em;
}
.p2{
    margin-top: 3em;
}
.p3{
    margin-right: 4em;
}
.p4{
    margin-bottom:4em;
}